.sign-out {
  background: none !important;
  border: none;
  border-style: none;
  outline-color: transparent;
  cursor: pointer;
  padding-left: 0.07em;
  margin-top: 0.45em;
  margin-bottom: 0.5em;
  text-align: left;
  color: rgba(0,0,0,.5);
}
